.planets-heading {
  font-size: 4vw;
  color: #05acff;
  margin: 0px;
}

.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  text-align: center;
  width: 100%;
  padding: 2%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
