.planets-heading {
  font-size: 4vw;
  color: #05acff;
  margin: 0px;
}

.main-container {
  background-color: rgb(7, 39, 24);
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
